

$enable-caret: true;
$fa-font-path: "../../node_modules/font-awesome/fonts";
$font-size-base: .9rem;
$font-weight-normal: 300;

@import url("https://use.typekit.net/elf7icg.css");

$enable-shadows: true;
$enable-gradients: true;

$systemBlue: rgba(  0,122,255,1);
$systemGreen:	rgba( 52,199, 89,1);
$systemIndigo:	rgba( 88, 86,214,1);
$systemOrange:	rgba(255,149,  0,1);
$systemPink:	rgba(255, 45, 85,1);
$systemPurple:	rgba(175, 82,222,1);
$systemRed:	    rgba(255, 59, 48,1);
$systemTeal:	rgba( 90,200,250,1);
$systemYellow:	rgba(255,204,  0,1);


$systemGray:	rgba(142,142,147,1);
$systemGray2:	rgba(174,174,178,1);
$systemGray3:	rgba(199,199,204,1);
$systemGray4:	rgba(209,209,214,1);
$systemGray5:	rgba(229,229,234,1);
$systemGray6:	rgba(242,242,247,.8);

$clear: 		rgba(  0,  0,  0,0);
$full-black:	rgba( 8, 8, 12,1);
$black:		    rgba( 54, 54, 54,1);
$white:		    rgba(255,255,255,1);


$body-bg:       lighten($systemGray6,3);
$body-color:    rgba($black,.9);

.bg-lighter{background-color: lighten($systemGray6,1)}


$grays: (
        "100": $systemGray6,
        "200": $systemGray6,
        "300": $systemGray5,
        "400": $systemGray5,
        "500": $systemGray4,
        "600": $systemGray4,
        "700": $systemGray3,
        "800": $systemGray2,
        "900": $systemGray,
);

$input-bg:                              rgba($white,.8);
$input-disabled-bg:                     rgba($systemGray5,.8);
$input-color:                           $body-color;
$input-border-color:                    $systemGray6;
$border-color:                      $systemGray5;
$input-border-color:                $systemGray5;
$input-focus-border-color:          $systemBlue;

$theme-colors: (
        "primary":    $systemBlue,
        "secondary":  $systemGray2,
        "success":    $systemGreen,
        "warning":    $systemOrange,
        "danger":     $systemRed,
        "info":       $systemTeal,
        "light":      $systemGray6,
        "dark":       $black,
        "black":       $full-black,
        "white":      $white,
);

#header,.offcanvas,.modal-header,.modal-footer, .toast{
  background-color: map-get($theme-colors, 'light');
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}

#header{
  position: fixed;top: 0; left: 0; width: 100%; z-index: 1000;
}

$component-active-bg:               map-get($theme-colors, 'primary');
$input-btn-focus-width:             1px;
$link-hover-color:                  $systemBlue;

$border-color:                      $systemGray5;
$input-border-color:                $systemGray5;
$input-focus-border-color:          $systemBlue;

$border-radius:                     .3rem;
$border-radius-lg:                  .3rem;
$border-radius-sm:                  .2rem;


$font-prefix: "../../node_modules/@ibm/plex";;
@import '../../node_modules/@ibm/plex/scss/ibm-plex.scss';

//$font-family-sans-serif:  mr-eaves-xl-modern, sans-serif;
$font-family-sans-serif: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
$font-family-monospace: 'IBM Plex Mono', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', Courier, monospace;




@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/bootstrap-icons/font/bootstrap-icons.css";
@import "../../node_modules/font-awesome/scss/font-awesome";
@import "../sortable-main/sortable.min.css";
@import "../../node_modules/bootstrap-steps/dist/bootstrap-steps.min.css";
@import "../../node_modules/@coreui/coreui/scss/coreui";

// Usage
.container-fit {
  width: 100%;
  padding-left: env(safe-area-inset-left, 16px);
  padding-right:  env(safe-area-inset-right, 16px);
  margin-right: auto;
  margin-left: auto;

}

body{
  padding-top: 3.5rem;
}

.sortable-theme-bootstrap{
  font-family: $font-family-sans-serif!important;
}

th{
  color: $black!important;
}

td{
  background-color: $white!important;
}


.key-question{
  border-left-width: 4px!important;
  border-left-style: solid;
  &-restricted{
    border-left-color: lighten($systemRed,.6);
  }
  &-blocked{
    border-left-color: lighten($systemTeal,.6);
  }
}

.blinking {
  border-left: 4px solid $systemOrange;
  animation-name: blinking;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
@keyframes blinking {
  50% {
    border-color: $systemGray5;
  }
}

.fit {
  padding-left: env(safe-area-inset-left, 16px);
  padding-right:  env(safe-area-inset-right, 16px);
}

.fit-s {
  padding-left: env(safe-area-inset-left, 16px);
}

.fit-e {
  padding-right:  env(safe-area-inset-right, 16px);
}