$blue: #255372;

$enable-caret: true;
$fa-font-path: "../../node_modules/font-awesome/fonts";

@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/bootstrap-icons/font/bootstrap-icons.css";
@import "../../node_modules/font-awesome/scss/font-awesome";
